// Headings
// --------------------------------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 1.1;
}

h1 { 
  font-size: 30px;
  font-weight: 600;
  font-family: "p22-underground-sc", sans-serif; 
}
h2 { 
  font-size: 21px;
  font-weight: 700;
  font-family: $headings-font; 
}
h3 { font-size: 16px; }
h4 { font-size: 14px; }
h5 { 
  font-size: 12px;
  font-family: $headings-font;
}
h6 { font-size: 11px; }


// Body text
// --------------------------------------------------

small {
  font-size: 90%;
}

.text-emphasized {
  font-weight: bold;
  color: #333;
}

.text-small {
  font-size: 12px;
}

pre {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-family: europa, sans-serif;
  font-weight: bold;
}
