$container-width: 980px !default;
$grid-gutter:     10px !default;

// Brand colors
$greenish:   #e4fc80;
$text-color: #1a1a1a;
$brand-blue: blue;
$brand-gray:       #767676 !default;
$brand-gray-dark:  #333    !default;
$brand-green:      #6cc644 !default;
$brand-red:        #bd2c00 !default;
$brand-orange:     #c9510c !default;
$brand-purple:     #6e5494 !default;

// Font stack
$body-font: Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol" !default;

// The base body size
$body-font-size: 13px !default;

