extends layouts/default

block title
  | Art Work
block content
  p.text-left 
    pre
      |          Brooklyn, NY 
      |          Born in Buffalo, NY
  .container
    .columns
      h2.text-center Art Work
      .one-half.column
        a(href='works.html')
          figure
            img(src='images/fantasy.jpg', width='430', height='373', alt='object of stuff')
            figcaption
              h4 Progress and Catastrophe
      .one-half.column
        a(href='photography.html')
          figure
            img(src='images/after-work.jpg', width='430', height='373', alt='woman smoking')
            figcaption
              h4 Savage Sorting