extends layouts/default

block title
  | Photography

block content
  nav
    h5: a(href='index.html') home
  .container
    .columns
      h2.text-center Savage Sorting
      h3.text-center photography 2009 &ndash; present
      .one-third.column
        a(href='#')
          figure     
            img(src='images/illig-t13.jpg', width='280', height='174', alt='woman smoking')
            figcaption everywhere the death scene
      .one-third.column
        a(href='#')
          figure
            img(src='images/illig-t14.jpg', width='280', height='174', alt='light tubes')
            figcaption
              strong &middot; &middot; &middot;
      .one-third.column
        a(href='#')
          figure
            img(src='images/illig-t15.jpg', width='280', height='174', alt='t-shirt')
            figcaption
              strong &middot; &middot; &middot;
      .one-third.column
        a(href='#')
          figure
            img(src='images/illig-t16.jpg', width='280', height='174', alt='stuffed animal in bag')
            figcaption the immigrants
      .one-third.column
        a(href='#')
          figure
            img(src='images/illig-t17.jpg', width='280', height='174', alt='Departures magazine')
            figcaption this and that
      .one-third.column
        a(href='#')
          figure
            img(src='images/illig-t18.jpg', width='280', height='174', alt='visor from cap')
            figcaption pennies from heaven
      .one-third.column
        a(href='#')
          figure
            img(src='images/illig-t19.jpg', width='280', height='174', alt='man at wheel')
            figcaption disappearance
      .one-third.column
        a(href='#')
          figure
            img(src='images/illig-t20.jpg', width='280', height='174', alt='car window scene')
            figcaption weekend
      .one-third.column
        a(href='#')
          figure
            img(src='images/illig-t21.jpg', width='280', height='174', alt='sneaker on road')
            figcaption the unknown is expanding
      .one-third.column
        a(href='#')
          figure
            img(src='images/illig-t22.jpg', width='280', height='174', alt='Lust book')
            figcaption as it is
      .one-third.column
        a(href='#')
          figure
            img(src='images/illig-t23.jpg', width='280', height='174', alt='loft space')
            figcaption traces of dead used up
      .one-third.column
        a(href='#')
          figure
            img(src='images/illig-t24.jpg', width='280', height='174', alt='over river')
            figcaption billboards
      .one-third.column
        a(href='#')
          figure
            img(src='images/illig-t25.jpg', width='280', height='174', alt='man in trunks')
            figcaption phantom events
      .one-third.column
        a(href='#')
          figure
            img(src='images/illig-t26.jpg', width='280', height='174', alt='woman with bag')
            figcaption 
              strong &middot; &middot; &middot;
      .one-third.column
        a(href='#')
          figure
            img(src='images/illig-t27.jpg', width='280', height='174', alt='bare arm')
            figcaption 
              strong &middot; &middot; &middot;
      .one-third.column
        a(href='#')
          figure
            img(src='images/illig-t28.jpg', width='280', height='174', alt='limo')
            figcaption neverland
      .one-third.column
        a(href='#')
          figure
            img(src='images/illig-t29.jpg', width='280', height='174', alt='bright light')
            figcaption vanishing point

          