extends layouts/default

block title
  | works

block content
  nav
    h5: a(href='index.html') home
  .container
    .columns
      h2.text-center Progress and Catastrophe
      h3.text-center 
        | works 2013 &ndash; 2015 
        img.icon(src='images/flickr.png')
      .one-third.column
        a(href='https://www.flickr.com/gp/136685392@N06/108xQ6', target='blank')
          figure     
            img(src='images/illig-t1.jpg', width='280', height='174', alt='assemblage red corner')
            figcaption malfeasance
      .one-third.column
        a(href='https://www.flickr.com/gp/136685392@N06/uZv711', target='blank')
          figure
            img(src='images/illig-t2.jpg', width='280', height='174', alt='assemblage star')
            figcaption carnival and cannibal
      .one-third.column
        a(href='https://www.flickr.com/gp/136685392@N06/0Qu8NJ', target='blank')
          figure
            img(src='images/illig-t3.jpg', width='280', height='174', alt='assemblage 3')
            figcaption notations
      .one-third.column
        a(href='https://www.flickr.com/gp/136685392@N06/76590w', target='blank')
          figure
            img(src='images/illig-t4.jpg', width='280', height='174', alt='white disc')
            figcaption inert - Vinyl banner works
      .one-third.column
        a(href='https://www.flickr.com/gp/136685392@N06/76590w', target='blank')
          figure
            img(src='images/illig-t5.jpg', width='280', height='174', alt='WANTED')
            figcaption
              strong &middot; &middot; &middot;
      .one-third.column
        a(href='https://www.flickr.com/gp/136685392@N06/76590w', target='blank')
          figure
            img(src='images/illig-t6.jpg', width='280', height='174', alt='street art')
            figcaption
              strong &middot; &middot; &middot;
      .one-third.column
        a(href='https://www.flickr.com/gp/136685392@N06/B85Ty7', target='blank')
          figure
            img(src='images/illig-t7.jpg', width='280', height='174', alt='photo of door')
            figcaption 'almost nothing' - lamination film works
      .one-third.column
        a(href='https://www.flickr.com/gp/136685392@N06/B85Ty7', target='blank')
          figure
            img(src='images/illig-t8.jpg', width='280', height='174', alt='dunno')
            figcaption
              strong &middot; &middot; &middot;
      .one-third.column
        a(href='https://www.flickr.com/gp/136685392@N06/B85Ty7', target='blank')
          figure
            img(src='images/illig-t9.jpg', width='280', height='174', alt='two suits')
            figcaption
              strong &middot; &middot; &middot;
      .one-third.column
        a(href='https://www.flickr.com/gp/136685392@N06/R32Bt4', target='blank')
          figure
            img(src='images/illig-t10.jpg', width='280', height='174', alt='bags aggregate')
            figcaption melted plastic works
      .one-third.column
        a(href='https://www.flickr.com/gp/136685392@N06/Fy5U8H', target='blank')
          figure
            img(src='images/illig-t11.jpg', width='280', height='174', alt='colored foam')
            figcaption foam insulation works
      .one-third.column
        a(href='https://www.flickr.com/gp/136685392@N06/44ypi7', target='blank')
          figure
            img(src='images/illig-t12.jpg', width='280', height='174', alt='alligator')
            figcaption various other works
      
          